body{
	font-family: PlayFair;
}

.button-link{
	transition: all 0.3s ease 0s;
}


.vertical-center{
	min-height: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
}

.button-link{
	border: solid blue 1px;
	border-radius: 15px;
	padding: 0.5em;
	color: blue;
	-moz-transition: background-color 1s, color 1s;
	position: relative;
	top: 15px;
}

.button-link:hover{
	background-color: blue;
	color: white;
	text-decoration: none;
};
