body{
	font-family: PlayFair, Helvetica;
	color: #506062;
}

blockquote{
	border: 0;
}

.carousel-indicators li {
  background-color: #fff;
  border:1px solid #444;
}

.carousel-indicators .active {
  background-color: #444;

}

span.icon-prev, span.icon-next{
	color: #000;
 }

 i.img-standouts:hover{
	background-color: white;
	opacity: 0.5;
	color: black;
  	transition: all 0.5s ease-in-out;
}

body .slider{
	background-color: #F3F5F6;
}

body .slider p{
	font-size: 1.25em;
}

body .standouts{
	background-image: url("http://i.imgur.com/3geFJ4D.png");
	background-attachment: fixed;
	padding: 100px;
	color: white;
	text-shadow: 1px 1px 3px black;
}

body .standouts i{
	border: solid white 1px;
	border-radius: 50%;
	padding: 25px;
	box-shadow: 1px 1px 3px black;
}

body .standouts h1{
	padding-bottom: 70px;
}

body .quote{
	padding: 50px;
	background-color: #F3F5F6;
}

body .contact{
	background-image: url("http://i.imgur.com/kgLwTsh.jpg");
	background-position: center;
	background-attachment: fixed;
	padding: 100px;
	color: white;
	text-shadow: 2px 2px 2px black;
}

body .contact p{
	margin-top: 50px;
}

body .contact h1{
	padding-bottom: 70px;
}

body .encourager{
	padding: 50px;
	background-color: #F3F5F6;
}

.vertical-center{
	min-height: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
}

.button-link{
	border: solid gray 1px;
	border-radius: 15px;
	padding: 0.5em;
	color: gray;
	-moz-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	position: relative;
	top: 25px;
}

.button-link:hover{
	background-color: gray;
	color: white;
	text-decoration: none;
};

