body{
	font-family: PlayFair;
}

blockquote{
	border: 0;
}

body .standouts{
	background-image: url("http://i.imgur.com/jW6UCkk.jpg");
	padding: 100px;
	color: white;
	text-shadow: 1px 1px 2px black;
}

body .quote{
	padding: 100px;
}

body .contact{
	background-image: url("http://i.imgur.com/xB8rPSV.jpg");
	background-position: center;
	padding: 100px;
	color: white;
	text-shadow: 1px 1px 2px black;
}

.vertical-center{
	min-height: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
}

.button-link{
	border: solid blue 1px;
	border-radius: 15px;
	padding: 0.5em;
	color: blue;
	-moz-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	position: relative;
	top: 15px;
}

.button-link:hover{
	background-color: blue;
	color: white;
	text-decoration: none;
};
